<div class="section">
  <div class="container">
    <div class="row">

    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Define your rotation experience</h1>
        <p>Immerse yourself in up to three of the world’s most exciting cities and gain an invaluable global perspective – all without interrupting your studies.</p>
      </div>
    </div>
  </div>
</div>

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <h1>Module A-C <span class="grey">(home)</span></h1>
              <div class="rotation-block">
                <div class="header">
                  September - May
                </div>


                  <img class="img-responsive" src="assets/images/london.png">


              </div>
              <div class="rotation-copy">
                <h1>Your home campus</h1>
                <p>Students can choose from five home campuses – Boston, San Francisco, London, or Dubai. Your home campus is where you complete the core of your studies and where you’ll be based for about ten months of the year. You can choose to stay at your home campus for the entire length of your program if you prefer not to rotate.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <h1>Module D {{vm.headerJune}}</h1>
              <div class="rotation-block">
                <div class="header" ng-class="vm.headerJune">
                  June
                </div>


                  <img ng-click="vm.openModal('june')" class="img-responsive link" ng-src="{{vm.emptyRotationJune}}">


              </div>
              <div class="rotation-copy">
                <h1>Your first rotation</h1>
                <p>In your penultimate module, Module D, you have the option of taking electives and spending six weeks at any of Hult’s home campuses, or our rotation centers in Shanghai and New York. You can choose to stay for the next module and extend your stay to twelve weeks if you prefer to only rotate once.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <h1>Module E</h1>
              <div class="rotation-block">
                <div class="header" ng-class="vm.headerAugust">
                  August
                </div>


                    <img ng-click="vm.openModal('august')" class="img-responsive link" ng-src="{{vm.emptyRotationAugust}}">


              </div>
              <div class="rotation-copy">
                <h1>Your home campus</h1>
                <p>Students can choose from five home campuses – Boston, San Francisco, London, or Dubai. Your home campus is where you complete the core of your studies and where you’ll be based for about ten months of the year. You can choose to stay at your home campus for the entire length of your program if you prefer not to rotate.</p>
              </div>

            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>

<div class="section greyed-container" >
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Want to know more?</h1>
        <p>Try our a virtual Global Campus Rotation experience, to get a glimpse of how your year with Hult could shape up.</p>
      <p><button class="btn simple-btn-gradient" type="button">Try it now!</button></p>
      </div>

    </div>
  </div>
</div>
<!-- /.section -->


