<div class="modal-header rotation-neg">
  <h3 class="modal-title">Select your campus rotation</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <h2>Available campuses for {{moduleName}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="cell-rotation" ng-click="selectRotation(0)">
        <img src="assets/images/quads/quad_boston.png" class="img-responsive">
      </div>
      <p></p>
      <div class="cell-rotation" ng-click="selectRotation(1)">
        <img src="assets/images/quads/quad_sf.png" class="img-responsive">
      </div>
      <p></p>
      <div class="cell-rotation" ng-click="selectRotation(2)">
        <img src="assets/images/quads/quad_london.png" class="img-responsive">
      </div>
      <p></p>
      <div class="cell-rotation" ng-click="selectRotation(3)">
        <img src="assets/images/quads/quad_dubai.png" class="img-responsive">
      </div>
      <p></p>
    </div>
    <div class="col-md-6">
      <div class="cell-rotation" ng-click="selectRotation(4)">
        <img src="assets/images/quads/quad_shanghai.png" class="img-responsive">
      </div>
      <p></p>
      <div class="cell-rotation" ng-click="selectRotation(5)">
        <img src="assets/images/quads/quad_newyork.png" class="img-responsive">
      </div>
      <p></p>
      <div class="cell-rotation" ng-click="selectRotation(6)">
        <img src="assets/images/quads/quad_ashridge.png" class="img-responsive">
      </div>
      <p></p>
      <div class="cell-rotation" ng-click="selectRotation(7)">
        <img src="assets/images/quads/quad_none.png" class="img-responsive">
      </div>
      <p></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-16">
      <p></p>
      <p></p>
    </div>
  </div>

</div>
<div class="modal-footer rotation-neg" >
  <a ng-click="cancel()">Close <img align="top" width="16" height="16" src="assets/images/close.png"></a>
</div>
